.wrapper {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}

hr {
  width: 100%;
  margin: 20px 0;
}
