<h3>All charging spots for office</h3>
<mat-form-field>
	<mat-label>Select your office</mat-label>
	<mat-select [(value)]="selectedOfficeId">
		@for (office of offices; track office.id) {
		<mat-option [value]="office.id">{{office.name}}</mat-option>
		}
	</mat-select>
</mat-form-field>

<div class="charging-spots-wrapper">
	@for (spot of chargingSpots; track spot.id) {
	<div class="charging-spot"
			 [class.free]="spot.chargingSessions?.length === 0"
			 [class.occupied]="spot.chargingSessions && spot.chargingSessions.length > 0">
		<h1>{{ spot.spotName }}</h1>
	</div>
	}
</div>